<div [hidden]="submitted">
    <form  #formRegister="ngForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" pInputText name="name" [(ngModel)]="model.name" required #name="ngModel">
            
            <div [hidden]="name.valid || name.pristine">This field is required.</div>
        </div>
        <div>
            <label for="surname">Surname</label>
            <input type="text" id="surname" pInputText name="surname" [(ngModel)]="model.surname" required #surname="ngModel">
            <div [hidden]="name.valid || name.pristine">This field is required.</div>
        </div>
        <div>
            <label for="terms">Terms</label>
            <input type="checkbox" id="terms" name="terms" [(ngModel)]="model.terms" required #terms="ngModel">
            <div>This field is required.</div>
        </div>
        <div>
            <label for="option">Options</label>
            <select name="option" id="option" name="sele" [(ngModel)]="model.selec">
                <option selected>Open this select menu</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="Other">Other</option>
            </select>
            <div>This field is required.</div>
        </div>
    
        <div>
            <p-button type="submit" (onClick)="onSubmit()" [disabled]="!formRegister.form.valid">Send</p-button>
        </div>
    </form>
    
    <pre>{{model | json}}</pre>
    
</div>
<div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div>
      <div>Name</div>
      <div>{{model.name}}</div>
    </div>
    <div class="row">
      <div>Surname</div>
      <div>{{model.surname}}</div>
    </div>
    <div class="row">
      <div>Terms</div>
      <div>{{model.terms}}</div>
    </div>
    <br>
    <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
<h1>Welcome!</h1>
<h2>My Users</h2>
<table class="Users">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
<tr *ngFor="let user of users">
      <td>1</td>
      <td>Leandro</td>
      <td>Fernandez</td>
      <td>1123860661</td>
      <td>{{user.email}}</td>
</tr>
</table>