input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

body{
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h1 {
color:#3B82F6;
text-align: center;
}

.principal {
  margin: -10px auto;
  text-align:center;
  display: flex;
  align-items: left;
  justify-content:center;
}

.form {
width: 500px;
height: 500px;
background-color: white;
padding: 10px 30px;
border: 1px solid #CCC;
border-color: #3B82F6;
border-radius: 0.5em;
box-shadow: 1px 1px 1px 1px;
box-sizing: border-box;
}

.form input {
background-color: aliceblue;
width: 250px;
height: 30px;
margin-top: 10px;
margin-bottom: 7px;
padding: 15px;
right: 100px;
}
.form p-button {
margin-top: 10px;
display: flex;
justify-content: center;
padding: 10px;
border: none;
cursor: pointer;
}

.form a {
display: flex;
align-items: center;
justify-content: right;
}

.from input[type="checkbox" i] {
  background-color:aqua;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: 1px;
  border: initial;
}
