<body>
    <h1>Register</h1>
    <div class="principal">
        <form class="form" [formGroup]="formRegister" (submit)="register()">
            <div>
                <div class="labelInput">
                    <label for="name">Name</label>
                </div>         
                <input type="text" id="name" formControlName="name" pInputText>
                <div *ngIf="(!fieldValid('name')) && (isDirty('name') || isTouched('name'))"  class="errors">
                    <div>
                        <span *ngIf="!evaluateFieldRequiredValid('name')">
                            Name is required
                        </span>
                    </div>
                    <div>
                        <span *ngIf="!evaluateFieldMinLengthValid('name')">
                            Name must at least 4 characters
                        </span>
                    </div>
                    
                </div>
                
            </div>
            
            <div>
                <div class="labelInput">
                    <label for="surname">Surname</label>
                </div>
               
                <input type="text" id="surname" formControlName="surname" pInputText>
                <div *ngIf="(!fieldValid('surname')) && (isDirty('surname') || isTouched('surname'))"  class="errors">
                    <div>
                        <span *ngIf="!evaluateFieldRequiredValid('surname')">
                            Surname is required
                        </span>
                    </div>
                    <div>
                        <span *ngIf="!evaluateFieldMinLengthValid('surname')">
                            Surname must at least 3 characters
                        </span>
                    </div>
                </div>
            </div>

            <div>
                <div class="labelInput">
                    <label for="bornDate">Born Date</label>
                </div>
                
                <input type="date" id="bornDate" formControlName="bornDate" pInputText >
                <div *ngIf="(!fieldValid('bornDate')) && (isDirty('bornDate') || isTouched('bornDate'))"  class="errors">
                    <div>
                        <span *ngIf="!evaluateFieldRequiredValid('bornDate')">
                            Born date is required
                        </span>
                    </div>

                </div>
            </div>

            <div>
                <div class="labelInput">
                    <label for="phone">Phone number</label>
                </div>
                
                <input type="number" id="phone" formControlName="phone" pInputText >
                <div *ngIf="(!fieldValid('phone')) && (isDirty('phone') || isTouched('phone'))"  class="errors">
                    <div>
                        <span *ngIf="!evaluateFieldRequiredValid('phone')">
                            Phone number is required
                        </span>
                    </div>
                    <div>
                        <span *ngIf="!min">
                            Phone number is invalid
                        </span>
                    </div>
                </div>
            </div>
            
            <div>
                <div class="labelInput">
                    <label for="email">Email</label>
                </div>        
                <input type="text" id="email" formControlName="email" pInputText>
                <div *ngIf="(!fieldValid('email')) && (isDirty('email') || isTouched('email'))"  class="errors">

                    <div>
                        <span *ngIf="!evaluateFieldRequiredValid('email')">
                            Email is required
                        </span>
                    </div>

                    <div>
                        <span *ngIf="!evaluateFieldMinLengthValid('email')">
                            Email must at least 8 characters
                        </span>
                    </div>

                    <div>
                        <span *ngIf="!emailValidateStructure">
                            Email structure incorrect
                        </span>
                    </div>
                    
                </div>
            </div>

            <div id="passwordDiv">
                <div class="labelInput">
                    <label for="password">Password</label>
                </div>
                
                <input type="text" id="password" formControlName="password" pInputText >
                <div *ngIf="(!passwordValid) && (isDirty('password') || isTouched('password'))" class="errors">
                    <div *ngIf="!requiredValid">
                        Password is required.
                    </div>
                        
                    <div *ngIf="!requiresDigitValid">
                        Debe tener un numero
                    </div>
              
                    <div *ngIf="!minLengthValid">
                        Debe tener un minimo de 6 caracteres
                    </div>
                      
                    <div *ngIf="!requiresUpperCaseValid">
                        Debe tener una letra mayuscula
                    </div>
    
                    <div *ngIf="!requiresLowerCaseValid">
                        Debe tener una letra minuscula
                    </div>
    
                    <div *ngIf="!requiresSpecialCharsValid">
                        Debe tener un caracter especial
                    </div>
                </div>
            </div>
            <div id="inputFileDiv">
                <div>
                    <input type="file" id="avatar" (change)="captureFile($event)" formControlName="avatar" accept='image/*' >
                </div>
                <div>
                    <img [src]="preview" alt="">
                </div>
                <div *ngIf="(!fieldValid('avatar'))" class="errors">
                    <div *ngIf="!evaluateFieldRequiredValid('avatar')">
                        Select a image file.
                    </div>                 
                </div>
            </div>
            
            <div id="termsDiv">
                <input class="terms" type="checkbox" name="terms" class="myCheck" id="terms" formControlName="terms">
                <label for="terms">
                    <a for="terms" style="color:black;padding-left:10px;" style="color:blue;" href="#"> Terms and Conditions</a>
                </label>

                <div *ngIf="(!fieldValid('terms'))" class="errors">
                    <div *ngIf="!evaluateFieldRequiredValid('terms')">
                        Accepts Terms and Conditions
                    </div>                 
                </div>
            </div>
                
            <div>
                <p-button type="submit" [disabled]="formRegister.invalid" onclick="register()">Register</p-button>
            </div>
        </form>
    </div>

</body>

<div>
    Valid: {{formRegister.valid | json}}
</div>