<body>
    <h1>Register</h1>
    <div class="principal">
        <form class="form" [formGroup]="formRegister" (submit)="register()">
            <div>
                <div class="labelInput">
                    <label for="name">Name</label>
                </div>         
                <input type="text" id="name" formControlName="name" pInputText>
                <div *ngIf="(!fieldValid('name')) && (isDirty('name') || isTouched('name'))"  class="errors">
                    <div>
                        <span *ngIf="!evaluateFieldRequiredValid('name')">
                            Name is required
                        </span>
                    </div>
                    <div>
                        <span *ngIf="!evaluateFieldMinLengthValid('name')">
                            Name must at least 4 characters
                        </span>
                    </div>
                    
                </div>
                
            </div>
            
            <div>
                <div class="labelInput">
                    <label for="surname">Surname</label>
                </div>
               
                <input type="text" id="surname" formControlName="surname" pInputText>
                <div *ngIf="(!fieldValid('surname')) && (isDirty('surname') || isTouched('surname'))"  class="errors">
                    <div>
                        <span *ngIf="!evaluateFieldRequiredValid('surname')">
                            Name is required
                        </span>
                    </div>
                    <div>
                        <span *ngIf="!evaluateFieldMinLengthValid('surname')">
                            Name must at least 3 characters
                        </span>
                    </div>
                </div>
            </div>

            <div>
                <div class="labelInput">
                    <label for="bornDate">Born Date</label>
                </div>
                
                <input type="date" id="bornDate" formControlName="bornDate" pInputText >
                <div *ngIf="(!fieldValid('bornDate')) && (isDirty('bornDate') || isTouched('bornDate'))"  class="errors">
                    <div>
                        <span *ngIf="!evaluateFieldRequiredValid('bornDate')">
                            Date is required
                        </span>
                    </div>

                </div>
            </div>

            <div>
                <div class="labelInput">
                    <label for="phone">Phone number</label>
                </div>
                
                <input type="number" id="phone" formControlName="phone" pInputText >
                <div *ngIf="(!fieldValid('phone')) && (isDirty('phone') || isTouched('phone'))"  class="errors">
                    <div>
                        <span *ngIf="!evaluateFieldRequiredValid('phone')">
                            Name is required
                        </span>
                    </div>
                    <div>
                        <span *ngIf="!min">
                            Number invalid
                        </span>
                    </div>
                </div>
            </div>
            
            <div>
                <div class="labelInput">
                    <label for="username">Username</label>
                </div>
                
                <input type="text" id="username" formControlName="username" pInputText >
            </div>

            <div>
                <div class="labelInput">
                    <label for="email">Email</label>
                </div>
                
                <input type="text" id="email" formControlName="email" pInputText>
                <div *ngIf="(!fieldValid('email')) && (isDirty('email') || isTouched('email'))"  class="errors">

                    <div>
                        <span *ngIf="!evaluateFieldRequiredValid('email')">
                            Email is required
                        </span>
                    </div>

                    <div>
                        <span *ngIf="!evaluateFieldMinLengthValid('email')">
                            Email must at least 8 characters
                        </span>
                    </div>

                    <div>
                        <span *ngIf="!emailValidateStructure">
                            Email structure incorrect
                        </span>
                    </div>
                    
                </div>
            </div>

            <div>
                <input type="file" id="avatar" (change)="captureFile($event)" formControlName="avatar" accept='image/*' >
            </div>
            <div>
                <img [src]="preview" alt="">
            </div>
            <div>
                <input class="terminos" type="checkbox" name="terminos" class="myCheck" id="myCheck">
                <label for="terminos">
                    <a for="terminos" style="color:black;padding-left:10px;">Accept the <a style="color:blue;" href="#">Terms and Conditions</a></a>
                </label>
            </div>
                
            <div>
                <p-button type="submit" [disabled]="formRegister.invalid" onclick="register()">Register</p-button>
            </div>
        </form>
    </div>

</body>

<div>
    Valid: {{formRegister.valid | json}}
</div>